# My Jupyter Notebook on IBM Watson Studio

__Diego Del Rio__ 
Data Scientist

*Im interested in data science because I studied a degree that's oriented to data visualization. I want to understand better the data and improve my analytical skills.*

### My code is going to make you a question and then make a sentence with it.

In [2]:
question = input("What's your name?")
answer = "His/Her name is " + question
print(answer)

What's your name? Diego

His/Her name is Diego

<a href="https://www.linkedin.com/in/ddelriorodriguez/?locale=en_US">My Profile</a>
<hr />
<ul>
  <li>Data Scientist</li>
  <li>Data Engineer</li>
  <li>ML Engineer</li>
</ul>
<hr />
<ol type = "1">
         <li>India</li>
         <li>Australia</li>
         <li>South Africa</li>
         <li>New Zealand</li>
         <li>Pakistan</li>
         <li>Srilanka</li>
         <li>West Indies</li>
         <li>Bangladesh</li>
      </ol>
<hr />

| Column1 | Column2 | Column3|
| ------- | ------- | ------ |
| row1 | row1 | row1 |
| row2 | row2 | row2 |
| row3 | row3 | row3 |